/********
Typography
**********/

/*use Google Fugaz One Font*/
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

/*use Roboto Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: rgb(235, 235, 235);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fugaz One", cursive;
  text-transform: capitalize;
}

h1 {
  font-size: 1.778rem;
  text-align: center;
  padding-top: 0.5rem;
}

p {
  text-align: center;
}

/**********
Main Styles
**********/
nav {
  background-color: rgb(237, 199, 155);
}

nav a {
  font-family: "Fugaz One", cursive;
  font-size: 1.8rem;
}

form {
  background-color: rgb(66, 62, 55);
  border-radius: 0.5rem;
  color: white;
  padding: 2rem;
}

form .btn {
  --bs-btn-bg: rgb(0, 191, 179);
  --bs-btn-border-color: rgb(0, 191, 179);
  --bs-btn-hover-bg: rgb(4, 154, 143);
  --bs-btn-hover-border-color: rgb(4, 154, 143);
  margin-top: 0.5rem;
}
